html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

#tab1 {
  width: 100%;
  margin: 0 auto;
}
#tab1 > div {
  position: relative;
}
#tab1 .overlay {
  background: rgba(0,0,0,.25);
}
.shows-table table {
  width: 100%;
  color: #202020;
  font-size: 14px;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-radius: 4px;
  border-spacing: 0;
  max-width: 100%;
  background-color: transparent;
}

.shows-table tbody > tr:nth-child(odd) > td,
.shows-table tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.shows-table table td.money {
  width: 100px;
}
.shows-table table th, .shows-table table td {
  padding: 10px 12px;
  border-left: 1px solid #dddddd;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
}
.shows-table table td {
  border-top: 1px solid #dddddd;
}

.shows-table table tfoot td{
  background-color: #F4F4F4;
}

.shows-table table td.center,
.shows-table table th {
  text-align: center;
}

.shows-table table td {
  text-align: right;
}
.shows-table table td.left {
  text-align: left;
}

.shows-table table tfoot {
  line-height: 20px;
}
.shows-table table a {
  text-decoration: none;
  color: #000;
}

table thead tr th.sort {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
}
table thead tr th.sort:hover {
  text-decoration: underline;
}

table thead tr th.sort:before {
  position: absolute;
  content: "\2B06";
  font-size: 9px;
  right: 0px;
  top: 10px;
  color: transparent;
}

table thead tr th.sort.asc:before {
  color: #66f;
  content: "\2B06"
}

table thead tr th.sort.desc:before {
  color: #66f;
  content: "\2B07"
}
.shows-table table td.dirty {
  border: 1px solid red;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button:disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .45;
}
.shows-table .save {
  width: 80px;
}

#bind {
  overflow: hidden;
}

#bind .right {
  float: right;
  width: 30%
}

#bind .right input[type="text"],
#bind .right input[type="number"] {
  width: 100%;
}
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
  position: relative;
  margin-right: 5px;
  padding: 0;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  line-height: 1;
  height: 40px;
  outline: none;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.85);
}
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="text"][disabled],
input[type="tel"][disabled],
input[type="url"][disabled],
input[type="password"][disabled],
textarea[disabled],
select[disabled] {
  resize: none;
  opacity: 0.55;
  cursor: default;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  -webkit-appearance: none;
}
select[multiple],
textarea {
  height: auto;
  line-height: 1.5;
}
textarea {
  font-size: 15px;
}
textarea:focus,
select:focus,
input:focus {
  outline: none;
  background: #ffffff;
  border: 1px solid #222222;
}
fieldset {
  padding: 31px 32px;
  margin-bottom: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
fieldset *:last-child {
  margin-bottom: 0 !important;
}
.forms section {
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.forms section,
.forms p {
  margin-bottom: 24px;
}
button[type="primary"] {
  color: rgba(255,255,255,0.9);
  background: #2f77d1;
}

button {
  display: inline-block;
  vertical-align: top;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 0.8rem;
  font-weight: normal;
  white-space: nowrap;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  outline: none;
  margin: 0;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  cursor: pointer;
  color: #000;
  background: #e5e5e5;
}
.btn[type="primary"]:hover,
button[type="primary"]:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: #5992da;
}
button:hover {
  background-color: #ededed;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
.btn[disabled]:hover,
button[disabled]:hover {
  background: #e5e5e5;
  color: #000000;
  text-decoration: none;
}
#grid.left {
  float: left;
  width: 65%;
}

#grid {
  cursor: pointer;
}
#grid tbody>tr:hover {
  background-color: #f5f5f5; 
}
.shows-table {
  font-family: 'ProximaNova','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.forms label {
  font-size: 90%;
  display: block;
}
#form {
  position: relative;
}
body .notice-container {
  position: fixed;
}
