<table>
  <thead>
    <tr>
      <th class="sort" data-sort="name">name</th>
      <th class="sort" data-sort="age">age</th>
      <th class="sort" data-sort="score">score</th>
      <th class="sort" data-sort="percent">percentage</th>
      <th class="sort" data-sort="money">money</th>
      <th>active</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="left">{name}</td>
      <td>{age}</td>
      <td>{score | currency 0}</td>
      <td>{percent | percentage}</td>
      <td react="money" class="money">¥{money | currency 2}</td>
      <td react="isActive" class="center">
        <input type="checkbox" data-checked="isActive" on-change="toggleActive">
      </td>
      <td><button class="save" react="$stat">save</button></td>
    </tr>
  </tbody>
</table>
