.exgrid-pager {
  margin-top: 15px;
}
.exgrid-pager {
  margin-top: 10px;
  padding: 0;
  font-size: 14px;
}

.exgrid-pager li {
  display: inline-block;
}

.exgrid-pager-hide {
  opacity: .2;
}
.exgrid-pager li.active a {
  font-weight: bold;
  border-color: #ddd;
}
.exgrid-pager li a {
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid #eee;
  padding: 3px 8px;
  margin: 0 2px;
  color: #2a2a2a;
}
.exgrid-pager li.prev a,
.exgrid-pager li.next a{
  font-weight: bolder;
}

