<table>
  <thead>
    <tr>
      <th class="sort" data-sort="name">name</th>
      <th class="sort" data-sort="age">age</th>
      <th>company</th>
      <th class="sort" data-sort="number">money</th>
      <th>active</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="left">{name}</td>
      <td style="width:30px;">{age}</td>
      <td class="left">{company}</td>
      <td class="money">¥{money | currency 2}</td>
      <td data-render="setActive" class="center"></td>
    </tr>
  </tbody>
</table>
