html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  padding: 60px;
  font: 300 12px "Helvetica Neue", Helvetica, Arial;
  min-height: 1000px;
}
#placeholder {
  width: 600px;
  margin: 0 auto;
}
#placeholder > div {
  position: relative;
}
#placeholder .overlay {
  background: rgba(0,0,0,.25);
}
.exgrid-pager {
  margin-top: 15px;
}
.shows-table table {
  width: 100%;
  border: 1px solid #dddddd;
  border-collapse: separate;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-spacing: 0;
  max-width: 100%;
  background-color: transparent;
}

.shows-table tbody > tr:nth-child(odd) > td,
.shows-table tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.shows-table table td.money {
  width: 100px;
}
.shows-table table th, .shows-table table td {
  padding: 10px 8px 6px 8px;
  border-left: 1px solid #dddddd;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
}
.shows-table table td {
  border-top: 1px solid #dddddd;
}

.shows-table table tfoot td{
  background-color: #F4F4F4;
}

.shows-table table td.center,
.shows-table table th {
  text-align: center;
}

.shows-table table td {
  text-align: right;
}
.shows-table table td.left {
  text-align: left;
}

.shows-table table tfoot {
  line-height: 20px;
}
.shows-table table a {
  text-decoration: none;
  color: #000;
}

table thead tr th.sort {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
}
table thead tr th.sort:hover {
  text-decoration: underline;
}

table thead tr th.sort:before {
  position: absolute;
  content: "\2B06";
  font-size: 9px;
  right: 0px;
  top: 10px;
  color: transparent;
}

table thead tr th.sort.asc:before {
  color: #66f;
  content: "\2B06"
}

table thead tr th.sort.desc:before {
  color: #66f;
  content: "\2B07"
}
.shows-table table td.dirty {
  border: 1px solid red;
}
